* {
	margin: 0;
	padding: 0;
}

body {
	color: #2b1e5b;
}

header {
	margin: 0 0 3em 0;
	padding: 1em;
	background-color: #2b1e5b;
	color: white;
}

header ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#logo {
	width: 70px;
}

h1 {
	margin: 0;
}

#enrol {
	margin: 5em;
}

form {
	/* margin: 5em; */
	padding: 3em 0 3em 3em;
	border: 1px solid #2b1e5b;
	border-radius: 0 0 6px 6px;
	align-items: center;
	justify-content: center;
}

#enrol header {
	margin: 0 0 0 0;
	background-color: #2b1e5b;
	color: white;
	font-size: 22px;
	border-radius: 1em 1em 0 0;
}

form .info {
	margin-top: 4em;
	padding: 0;
}

.form-control {
	width: 40em;
}

input value {
	font-size: 15px;
}

.btn {
	margin: 1.5em 0 0 0;
	background-color: white;
	border: 1px solid #2b1e5b;
	color: #2b1e5b;
	transition-property: background-color;
	transition-duration: 0.8s;
	transition-delay: 0s;
	transition-timing-function: ease;
	box-shadow: 1px 1px 5px 0.8px gray;
}

.btn:hover {
	border: none;
	background-color: #2b1e5b;
	color: white;
}

.btn:focus {
	background-color: #2b1e5b;
	color: white;
	border: none;
}
.terms {
	color: #2b1e5b;
	font-size: 20px;
}

footer {
	padding: 1em;
	color: white;
	background-color: #2b1e5b;
	display: flex;
	justify-content: center;
}

/* ***SMALL DEVICES*** */
@media (min-width: 150px) and (max-width: 562px) {
	header {
		margin: 0;
	}

	header ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	h1 {
		font-size: 20px;
		margin: 1em 0 0 0;
		display: block;
		/* color: black; */
	}

	#enrol header {
		margin: 0 0 0 0;
		background-color: #2b1e5b;
		color: white;
		font-size: 22px;
		border-radius: 0;
	}

	form {
		padding-left: 0;
		margin-left: 8px;
		margin-right: 3px;
		border: none;
	}

	.form-control {
		width: 20em;
	}

	/* select.form-control {
		width: 22em;
	} */

	#enrol {
		margin: 1em 0 1em 0;
		padding: 0;
	}

	form #info {
		width: 350px;
		padding-right: 0;
		margin-left: 0;
	}

	form input.form-control {
		width: 22em;
	}
}

/****************Medium Devices*****************/

@media (min-width: 563px) and (max-width: 1000px) {
	header {
		margin: 0;
	}

	header ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	h1 {
		font-size: 30px;
		margin: 1em 0 0 0;
		display: block;
		/* color: black; */
	}

	form {
		margin: 2em 3px;
		padding: 0 0 2em 0;
	}

	form #head {
		/* width: 450px; */
		margin: 0;
		padding: 1em;
		font-size: 12px;
		border-radius: 0;
		text-align: center;
	}

	form {
		margin: 0;
		padding: 1em;
	}

	/* select.form-control {
		width: 3em;
	} */

	form .info {
		margin-top: 2.5em;
		padding: 0;
	}

	#agree {
		margin: 2em 0;
	}
}
